<h1>Search for reviews</h1>

<% form_for :review do |f| %>
  Search for:
  <%= f.text_field :term, :tabindex => 1 %>
  <p>
  <%= f.submit('Search') %>
<% end %>

<% if @term %>
  <h1>Results</h1>
  <p>You searched for “<%= h(@term) %>”</p>

  <p>About 0 results (0.00 seconds)</p>

  <p>(Work in progress)</p>
<% end %>
